.container{
  width: 100%;
  /*border: 1px #000 solid;*/
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 400px;
  height: 400px;
}
.red {
  background-color:red;
  height:100px;
  width: 100%;
}
.orange {
  background-color:orange;
  height:200px;
  width: 80%;
  display: flex;
  flex-wrap:wrap;
}
.yellow {
  background-color:yellow;
  width: 20%;
  height: 200px;
}
.green {
  background-position: bottom;
  background-color:green;
  height: 100px;
  width: 100%;
}
.light-blue {
  background-: bottom;
  background-color:lightblue;
  height: 100px;
  width: 33%;
}
.blue {
  background-position: bottom;
  background-color:blue;
  height: 100px;
  width: 33%;
}
.purple {
  background-color:purple;
  height: 200px;
  width: 100%;
}
